.screen-4 {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__block {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 320px;

    & p {
      font-size: 16px;
      line-height: 1.19;
    }

    & b {
      font-size: 17px;
      font-weight: bold;

      & a {
        color: #000;
        text-decoration: none;
      }
    }

    &::after {
      content: '';
      width: 280px;
      height: 389px;
      background-image: url(../images/mob-methode-5.1.svg);
      background-repeat: no-repeat;
      background-size: contain;
      margin-top: 90px;

    }
  }
}


@media (min-width:1000px) {
  .screen-4 {
    padding-bottom: 100px;

    &__block {
      max-width: 700px;

      &::before {
        width: 821px;
        height: 443px;
        display: block;
        content: '';
        background-size: contain;
        background-image: url(../images/screen-4.1-bg.png);
        background-size: 821px;
        background-repeat: no-repeat;
        background-position: center 0;
        margin-bottom: 60px;
      }

      &::after {
        width: 821px;
        height: 491px;
        background-size: 821px;
        background-repeat: no-repeat;
        background-image: url(../images/screen-5-bg.png);
      }
    }
  }
}
