.screen-5 {
  position: relative;
  overflow: hidden;
  padding-bottom: 355px;

  &::before,
  &::after {
    margin-top: 61px;
    content: '';
    display: block;
    background-image: url(../images/contacter-bg-2.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 190%;
    height: 455px;
    margin-left: -46%;
    margin-bottom: 100px;
  }

  &::after {
    transform: rotate(180deg);
    position: absolute;
    bottom: -350px;
    margin-left: -38%;
  }

  &__block-left {
    margin-left: 40px;
    text-align: left;
  }

  &__title {
    font-size: 24px;
    font-family: $ffb;
    font-weight: bold;
    max-width: 240px;
    margin-bottom: 37px;
  }

  &__address,
  &__phone {
    font-size: 24px;
    font-weight: 500;
    text-decoration: none;
    max-width: 260px;
    margin-bottom: 27px;

    & a {
      text-decoration: none;
    }

    & b {
      font-weight: bold;
    }
  }

  &__email {
    padding-top: 22px;
    position: relative;
    position: relative;
    color: #000;
    text-decoration: none;

    &::after {
      width: 62px;
      height: 56px;
      content: '';
      background-image: url(../images/icon-email.svg);
      background-repeat: no-repeat;
      background-size: contain;
      position: absolute;
      left: 205px;
      bottom: 4px;
    }
  }
}

@media (min-width:1000px) {
  .screen-5 {
    overflow: visible;

    &::before,
    &::after {
      display: none;
    }

    &__img-1,
    &__img-2 {
      width: 52%;
      height: 833px;
      background-image: url(../images/contacts.bg@2x.png);
      background-repeat: no-repeat;
      background-size: contain;
      position: absolute;
    }

    &__img-1 {
      left: 50%;
      top: -150px;
    }

    &__img-2 {
      transform: rotate(-65deg);
      left: 102%;
      text-outline: 0 0 #000;
      top: 49%;
      background-image: url(../images/contacts.bg@2x.png);
    }

  }


}

@media (min-width:1500px) {
  .screen-5 {
    overflow: visible;
    min-height: 100vh;
    max-height: 1500px;

    &__block-left {
      display: none;
    }



    &__img-1,
    &__img-2 {
      width: 92%;
      height: 833px;
      background-image: url(../images/contacts.bg@2x.png);
      background-repeat: no-repeat;
      background-size: contain;
      position: absolute;
    }

    &__img-1 {
      left: 50%;
      top: -150px;
    }

    &__img-2 {
      width: 60%;
      transform: rotate(-65deg);
      left: 102%;
      text-outline: 0 0 #000;
      : 49%;
      background-image: url(../images/contacts.bg-2@2x.png);
    }
  }
}
